<main>

  <app-banner />

  <form>

    <h1>Sign Up</h1>

    <div class="list">
      <app-input
        label="Name"
        name="name"
      />

      <app-input
        label="Email"
        type="email"
        name="email"
      />
  
      <app-input
        label="Create Password"
        type="password"
        name="password"
      />
  
      <app-button
        text="Create Account"
        type="submit"
      />
    </div>

    <p>Already have an account? <a href="/login">Login</a></p>
  </form>

</main>