<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />
<app-table [titles]="['Recipient / Sender', 'Category', 'Transaction Date', 'Amount']" />