.menu {
  width: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;  
  border-left: 4px solid transparent;
  color: var(--grey-300);
  font-weight: bold;
  padding: 16px 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: var(--white);
  }
}

.active {
  background-color: #fff;
  border-color: var(--green);
  color: var(--green);
  span {
    color: var(--grey-900);
  }

  &:hover {
    color: var(--green);
    span {
      color: var(--grey-900);
    }
  }
}