.menu {
  width: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;  
  border-left: 4px solid transparent;
  color: var(--grey-300);
  font-weight: bold;
  padding: 16px 32px;
  gap: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: var(--white);
    border-color: var(--green);
    color: var(--green);
    cursor: default;
    span {
      color: var(--grey-900);
    }

    &:hover {
      color: var(--green);
      span {
        color: var(--grey-900);
      }
    }
  }

  &.minimizeMenu {
    border: none;

    &.active {
      background-color: transparent;
    }
  }

  &:hover {
    color: var(--white);
  }
}

@media (max-width: 1024px) {
  .menu {
    width: 100%;
    height: 66px;
    bottom: 0;
    padding: 6px 25px;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
  }
}

@media (max-width: 724px) {
  .menu {
    height: 52px;
    font-size: 24px;
    span {
      display: none;
    }
  }
}