.card {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--white);

  p {
    color: var(--grey-500);
    margin-bottom: 12px;
  }

  h1 {
    color: var(--grey-900);
  }
}

.dark {
  background-color: var(--grey-900);
  p {
    color: var(--white);
  }
  h1 {
    color: var(--white);
  }
}