<div class="inputBox">
  <label [for]="name">{{label}}</label>
  <div class="input">
    <input
      type="{{type === 'search' ? 'text' : type}}"
      [id]="name"
      [placeholder]="placeholder"
      [name]="name"
      [value]="value"
    >
    <app-icon
      *ngIf="type === 'password'"
      iconPath="icon-show-password.svg"
      (click)="type = 'text'; showPassword = true"
    />
    <app-icon
      *ngIf="showPassword"
      iconPath="icon-hide-password.svg"
      (click)="type = 'password'; showPassword = false"
    />
    <app-icon *ngIf="type === 'search'" iconPath="icon-search.svg" />
  </div>
</div>