.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .input {
    border: 1px solid var(--beige-500);
    border-radius: 8px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;
    }

    app-icon {
      cursor: pointer;
    }
  }
}