<aside>
  <div>
    <app-icon class="logo" iconPath="logo-large.svg" />
    <app-menu text="Overview" iconPath="icon-nav-overview.svg" redirectTo="/overview" />
    <app-menu text="Transactions" iconPath="icon-nav-transactions.svg" redirectTo="/transactions" />
    <app-menu text="Budgets" iconPath="icon-nav-budgets.svg" redirectTo="/budgets" />
    <app-menu text="Pots" iconPath="icon-nav-pots.svg" redirectTo="/pots" />
    <app-menu text="Recurring Bills" iconPath="icon-nav-recurring-bills.svg" redirectTo="/recurring-bills" />
  </div>
  <app-menu text="Minimize Menu" iconPath="icon-minimize-menu.svg" redirectTo="/login" />
</aside>