.container {
  width: 100%;
  gap: 24px;
  display: flex;

  app-budgets-summary {
    width: 628px;
  }

  .cardList {
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
  }
}