<div class="pagination">
  <app-button color="secondary">
    <app-icon iconPath="icon-caret-left.svg" />
    Prev
  </app-button>
  <div class="pages">
    <app-button color="secondary">1</app-button>
    <app-button color="secondary">2</app-button>
    <app-button color="secondary">3</app-button>
    <app-button color="secondary">4</app-button>
    <app-button color="secondary">5</app-button>
  </div>
  <app-button color="secondary">
    Next
    <app-icon iconPath="icon-caret-right.svg" />
  </app-button>
</div>