.tableContainer {
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--white);

  header {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    app-input {
      width: 30%;
    }

    div {
      gap: 24px;
      display: flex;
      align-items: center;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--white);
        th {
          padding: 16px;
          text-align: start;
          font-weight: normal;
          color: var(--grey-500);
        }
      }
    }

    tbody {
      tr {
        border-top: 1px solid var(--grey-100);

        td {
          padding: 16px;
          color: var(--grey-500);
          
          .alignElements {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            .bold {
              color: var(--grey-900);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}