<div class="tableContainer">
  <header>
    <app-input placeholder="Search transaction" type="search" />
    <div>
      <app-select label="Sort by" name="sortBy" [options]="['Latest', 'Oldest', 'A to Z', 'Z to A', 'Highest', 'Lowest']" />
      <app-select label="Category" name="category" [options]="['All Transactions', 'Entertainment', 'Bills', 'Groceries', 'Dining Out', 'Transportation', 'Personal Care', 'Education', 'Lifestyle', 'Shopping', 'General']" />
    </div>
  </header>

  <table>
    <thead>
      <tr>
        <th *ngFor="let title of titles">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Emma Richardson</td>
        <td>General</td>
        <td>19 Aug 2024</td>
        <td>+$75.50</td>
      </tr>
      <tr>
        <td>Savory Bites Bistro</td>
        <td>Dining Out</td>
        <td>19 Aug 2024</td>
        <td>-$55.50</td>
      </tr>
      <tr>
        <td>Daniel Carter</td>
        <td>General</td>
        <td>18 Aug 2024</td>
        <td>-$42.30</td>
      </tr>
      <tr>
        <td>Sun Park</td>
        <td>General</td>
        <td>19 Aug 2024</td>
        <td>+$120.00</td>
      </tr>
    </tbody>
  </table>
  <app-pagination />
</div>