<div class="tableContainer">
  <header>
    <app-input *ngIf="showSearch" [placeholder]="searchPlaceholder" type="search" />
    <div>
      <app-select *ngIf="showSortSelect" label="Sort by" name="sortBy" [options]="['Latest', 'Oldest', 'A to Z', 'Z to A', 'Highest', 'Lowest']" />
      <app-select *ngIf="showCategorySelect" label="Category" name="category" [options]="['All Transactions', 'Entertainment', 'Bills', 'Groceries', 'Dining Out', 'Transportation', 'Personal Care', 'Education', 'Lifestyle', 'Shopping', 'General']" />
    </div>
  </header>

  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td *ngFor="let cell of row.cells">
          <div class="alignElements">
            <ng-container *ngFor="let item of cell">
              <app-avatar *ngIf="item.type === 'avatar'" [path]="toString(item.value)"></app-avatar>
              <app-money-display *ngIf="item.type === 'money'" [value]="toNumber(item.value)" />
              <span *ngIf="item.type === 'text'" [ngClass]="{'bold': item.fontWeight === 'bold'}">{{ item.value }}</span>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination />
</div>